* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', cursive;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

/* testing */

/* .nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #11141a;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
} */

.floatingContainer {
    visibility: hidden;
    z-index: 90;
    position: fixed;
    width: 100%;
    height: 100vh;
    /* filter: blur(20px); */
    background: rgba(0, 0, 0, 0.7);
}

.floatingConfirmationContainer {
    visibility: hidden;
    z-index: 90;
    position: fixed;
    width: 100%;
    height: 100vh;
    /* filter: blur(20px); */
    background: rgba(0, 0, 0, 0.7);
}

.floatingContainer.showing {
    visibility: visible;
}

.floatingConfirmationContainer.showing {
    visibility: visible;
}

.floatingPopUp {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    /* height: 80%; */
    max-width: 1200px;
    padding: 20px;
    background: white;
    z-index: 100;
    border-radius: 20px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.floatingConfirmation {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    /* height: 80%; */
    max-width: 1200px;
    padding: 20px;
    background: white;
    z-index: 100;
    border-radius: 20px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.floatingPopUp.showing {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.floatingConfirmation.showing {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.floatingTicketContainer {
    border: 2px solid gray;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
}

.floatingImageAndName {
    display: block;
    padding: 20px;
}

.floatingImageAndName img {
    width: 500px;
    border-radius: 20px;
    border: 2px solid gray;
}

.floatingImageAndName h1 {
    font-size: 60px;
}

.floatingImageAndName h2 {
    font-size: 40px;
    color: gray;
}

.floatingDetailsAndBooking {
    padding: 20px;
    display: block;
}

.floatingDetailsAndBooking p {
    font-size: 20px;
    margin: 20px 0;
}

.floatingDetailsAndBooking h4 {
    font-size: 25px;
}

.floatingDetailsAndBooking h4 span {
    color: red;
}

.floatingDetailsAndBooking input {
    width: 100%;
    height: 60px;
    margin: 20px 0;
    font-size: 20px;
    padding: 20px;
}

.floatingNumberOfTickets {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.floatingNumberOfTickets label {
    font-size: 20px;
    margin-right: 20px;
}

.floatingNumberOfTickets select {
    font-size: 20px;
}

.floatingNumberOfTickets h3 {
    font-size: 20px
}

.floatingNumberOfTickets h3 span {
    color: red;
}

.floatingBookingBtnContainer {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.floatingBookingBtnContainer button {
    height: 60px;
    width: 49%;
    font-size: 20px;
    background: #11141a;
    color: white;
}

.floatingBookingBtnContainer button:hover {
    background: #323946;
    transform: scale(1.03);
}

.nav {
    transition: 0.5s;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    position: relative;
    float: left;
}

.nav ul li a {
    padding: 20px;
    display: block;
}

.nav ul li a:hover {
    color: rgb(255, 82, 82);
}

.nav ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: gray;
    display: none;
}

.nav ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav ul li:focus-within>ul,
.nav ul li:hover>ul {
    display: initial;
}

.active {
    color: rgb(255, 82, 82);
}



/* testing */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 20px; */
    background: #11141a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#nav-search-button {
    color: white;
    padding-right: 10px;
    transition: 0.3s;
}

#nav-search-button:hover {
    cursor: pointer;
    color: rgb(255, 82, 82);
}

header a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-right: 40px;
    padding-left: 10px;
    transition: 0.3s;
    font-weight: 500;
}

header nav ul li:hover>a,
header nav ul li.active>a {
    color: rgb(255, 82, 82);

}

#menu-bar {
    display: none;
}

header label {
    color: white;
    padding: 20px;
    cursor: pointer;
    display: none;
}

header label:hover {
    color: rgb(255, 82, 82);
}

section {
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    /* font-size: 100px; */
    /* color: white; */
    /* font-weight: 700; */
}

section:nth-child(even) {
    background: #323946;
}

#userMessages {
    display: block;
    min-height: 100vh;
    padding: 100px 20px;
    background: white;
}

.messagesPageHeading {
    text-align: center;
}

.messagesPageHeading strong {
    font-size: 60px;
    color: black;

}

.messagesPageHeading h1 {
    font-size: 30px;
    color: rgb(122, 122, 122);
    font-style: italic;
}

.messagesCont {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px;
}

.singleUserMessage {
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.singleUserMessage h1 {
    font-size: 15px;
    color: gray;
    text-decoration: underline;
}

.singleUserMessage strong {
    font-size: 30px;
    color: red;
}

.singleUserMessage h2 {
    font-size: 20px;
}

.homeDiv {
    background-image: url(images/concert_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.homeDivText {
    position: absolute;
    bottom: 1rem;
    text-align: center;
    width: 100%;
}

.homeDivText strong {
    font-size: 80px;
    color: red;
}

.homeDivText p {
    font-size: 40px;
    color: white;
}

.bandDiv {
    padding-bottom: 100px;
}

.bandDivText {
    text-align: center;
    display: block;
    margin-top: 100px;
}

.bandDivText strong {
    font-size: 60px;
    font-weight: 200;
}

.bandDivText h4 {
    font-size: 1.4rem;
    color: grey;
    font-weight: 100;
    font-style: italic;
    margin: 30px 0 40px 0;
}

.bandDivText p {
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 2rem;
    word-spacing: 0.2rem;
    max-width: 1200px;
    text-align: justify;
}

.bandDivMembers {
    display: flex;
    max-width: 1200px;
    justify-content: space-evenly;
    margin-top: 100px;
}

.memberCard {
    text-align: center;
    color: black;
}

.memberCard strong {
    font-size: 2rem;
}

.memberImage {
    max-width: 200px;
    height: 300px;
    width: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

#tour {
    background-color: black;
}

.tourDiv {
    max-width: 1000px;
    width: 100%;
    background-color: black;
    text-align: center;
}

.tourHeadingDiv {
    margin-top: 100px;
}

.tourDiv strong {
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 10px;
}

.tourDiv h4 {
    font-size: 1.4rem;
    color: grey;
    font-weight: 100;
    font-style: italic;
    margin: 50px;
}

.bookingMonths,
.septemberBooking,
.octoberBooking,
.novemberBooking {
    background-color: white;
    height: auto;
}

.bookingMonths hr,
.septemberBooking hr,
.octoberBooking hr,
.novemberBooking hr {
    border: none;
    background-color: gray;
    height: 1px;
    opacity: 0.3;
}

.specificMonth {
    text-align: start;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specificMonth strong {
    color: gray;
    font-size: 30px;
    padding: auto;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    text-transform: none;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: normal;
}

.monthNameStatus {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.soldOutBanner {
    background-color: rgb(255, 82, 82);
    color: white;
    padding: 10px;
    font-size: 20px;
}

.numberOfTickets {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    margin-right: 20px;
}

.bookingTickets {
    margin-bottom: 40px;
    width: 100;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ticketCard {
    display: block;
    width: 300px;
    text-align: start;
    background-color: white;
    color: black;
    margin-top: 40px;
}

.ticketDetails {
    margin: 20px;
}

.ticketDetails strong {
    color: black;
    font-size: 30px;
    text-transform: none;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: normal;
}

.ticketDetails h4 {
    margin: 20px 0px;
    font-size: 30px;
    font-style: normal;
}

.merchDetails h4 {
    font-size: 20px;
    margin: 10px 0px;
}

.ticketDetails p {
    font-size: 20px;
    width: 100%;
    text-align: justify;
}

.merchDetails p {
    font-size: 20px;
    font-weight: 900;
    color: red;
}

.ticketDetails button {
    margin-top: 10px;
    font-size: 20px;
    padding: 10px 15px;
    background-color: #11141a;
    color: white;
    border: none;
    transition: 0.3s;
    /* margin-bottom: 20px; */
}

.ticketDetails a {
    text-decoration: none;
    color: white;
}

.ticketDetails button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: red;
}

#merchandise {
    background-color: black;
}

#contact {
    background-color: white;
}

.contactDiv {
    text-align: center;
    height: auto;
    padding-bottom: 100px;
}

.visitingLocation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.visitingLocation strong {
    font-size: 90px;
    width: 400px;
    text-align: start;
    margin: 50px;
}

.visitingLocation p {
    border: solid 2px black;
    border-radius: 20px;
    overflow: hidden;
}

.contactHeading {
    margin-top: 200px;
}

.contactHeading strong {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 10px;
}

.contactDiv h4 {
    font-size: 1.4rem;
    color: grey;
    font-weight: 100;
    font-style: italic;
    margin: 50px;
}

.contactDetailsDiv {
    display: flex;
}

.contactDetails {
    font-size: 30px;
    text-align: start;
    width: 30rem;
}

.contactDetails strong {
    padding-left: 20px;
    font-size: 25px;
    text-transform: none;
}

.userMessage {
    display: block;
    height: auto;
    width: 30rem;
    text-align: end;
}

.tickertFetchedImageFromSrc {
    width: 300px;
    height: 200px;
}

.merchFetchedImageFromSrc {
    width: 300px;
    height: 300px;
}

.userMessage input {
    border: solid 2px rgb(175, 175, 175);
    height: 50px;
    font-size: 20px;
    width: 100%;
    padding: 10px;
}

.userDetails {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.userDetails input {
    margin: 0;
    width: auto;
}

.userSendButton {
    margin-top: 10px;
    font-size: 20px;
    padding: 10px 15px;
    background-color: #11141a;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.userSendButton:hover {
    transform: scale(1.1);
}

.socialMediaDiv i {
    color: rgb(175, 175, 175);
    transition: 0.3s;
    margin: 10px;
}

.socialMediaDiv i:hover {
    color: red;
}

hr {
    background: rgb(175, 175, 175);
    height: 2px;
    border: none;
    width: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.externalLinks {
    align-items: center;
}

footer p {
    color: rgb(175, 175, 175);
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

footer p a {
    color: rgb(175, 175, 175);
    transition: 0.3s;
}

footer p a:hover {
    color: red;
}

@media screen and (max-width: 1024px) {
    .bandDivText p {
        width: 90%;
        margin: auto;
    }

    .tourDiv {
        width: 90%;
        margin: auto;
    }

    .contactDiv {
        width: 90%;
        margin: auto;
    }

    .floatingImageAndName img {
        width: 400px;
        border-radius: 20px;
        border: 2px solid gray;
    }

    .floatingDetailsAndBooking input {
        border: 1px solid black;
    }

    .floatingNumberOfTickets select {
        border: 1px solid black;
    }
}

@media screen and (max-width: 768px) {

    .contactDiv {
        text-align: center;
    }

    .contactDetailsDiv {
        display: block;
        text-align: center;
        margin: auto;
    }

    .contactDetails {
        width: 100%;
        text-align: center;
    }

    .userMessage {
        width: 100%;
    }

    .userDetails {
        justify-content: space-between;
    }

    .userDetails input {
        width: 49%;
    }

    .bandDivMembers {
        flex-wrap: wrap;
    }

    .floatingPopUp {
        width: 70%;
        /* margin-top: 50px; */
    }

    .floatingTicketContainer {
        display: block;
    }

    #floatingticketimage {
        text-align: center;
    }

    #floatingticketimage img {
        width: 100%;
    }

    .floatingImageAndName {
        padding-bottom: 0;
    }

    .floatingDetailsAndBooking {
        padding-top: 10px;
    }

    .floatingImageAndName h1 {
        font-size: 30px;
    }

    .floatingImageAndName h2 {
        font-size: 20px;
    }

    .floatingDetailsAndBooking h1 {
        font-size: 20px;
    }

    .floatingDetailsAndBooking p {
        font-size: 15px;
        margin: 0;
        margin-bottom: 10px;
    }

    .floatingDetailsAndBooking h4 {
        font-size: 20px;
    }

    .floatingDetailsAndBooking input {
        width: 100%;
        height: 50px;
        margin: 10px 0;
        font-size: 20px;
        padding: 20px;
    }

    .floatingNumberOfTickets {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .floatingBookingBtnContainer {
        margin-top: 10px;
    }

    .floatingBookingBtnContainer button {
        height: 40px;
    }

    .visitingLocation {
        display: block;
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .visitingLocation strong {
        font-size: 50px;
        width: 300px;
        /* text-align: center; */
        margin: 0;
    }

    .visitingLocation p {
        border: solid 2px black;
        border-radius: 20px;
        overflow: hidden;
    }

}

@media screen and (max-width: 699px) {
    header label {
        display: initial;
        padding: 20px;
        color: white;
    }

    .nav {
        position: absolute;
        background: #11141a;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
    }

    .nav ul li {
        width: 100%;
    }

    .nav ul li ul {
        position: relative;
        width: 100%;
    }

    #menu-bar:checked~.nav {
        display: initial;
    }


}

@media screen and (max-width: 550px) {
    .floatingPopUp {
        width: 90%;
        padding: 10px;
    }

    .floatingImageAndName {
        padding: 10px 10px 0 10px;
    }

    .floatingDetailsAndBooking {
        padding: 10px;
    }

    .floatingImageAndName h1 {
        font-size: 25px;
    }

    .floatingImageAndName h2 {
        font-size: 20px;
    }

    .floatingDetailsAndBooking h1 {
        font-size: 15px;
    }
}

@media screen and (max-width: 499px) {
    .homeDivText strong {
        font-size: 50px;
    }

    .homeDivText p {
        font-size: 20px;
    }

    .bandDivText strong {
        font-size: 40px;
    }

    .bandDivText {
        margin-top: 70px;
    }

    .bandDivText h4 {
        font-size: 1.2rem;
    }

    .bandDivText p {
        font-size: 1.1rem;
        word-spacing: normal;
        line-height: 1.8rem;
    }

    .bandDivMembers {
        display: block;
        text-align: center;
        margin-top: 30px;
    }

    .memberImage {
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .bandDiv {
        padding-bottom: 30px;
    }

    .tourHeadingDiv {
        margin-top: 50px;
    }

    .tourHeadingDiv strong {
        font-size: 30px;
    }

    .tourDiv h4 {
        font-size: 1.1rem;
        margin: 30px;
    }

    .monthNameStatus strong {
        font-size: 20px;
    }

    .soldOutBanner {
        font-size: 15px;
        padding: 5px;
    }

    .ticketDetails strong {
        font-size: 25px;
    }

    .ticketDetails h4 {
        margin: 15px 0;
    }

    .ticketDetails p {
        font-size: 15px;
    }

    .ticketDetails button {
        width: 100%;
    }

    .contactHeading {
        margin-top: 50px;
    }

    .contactHeading strong {
        font-size: 30px;
    }

    .contactDiv h4 {
        margin: 30px;
        font-size: 1.1rem;
    }

    .contactDetails {
        font-size: 25px;
    }

    .contactDetails strong {
        font-size: 20px;
    }

    .contactEmail,
    .contactPhone,
    .contactLocation {
        align-items: center;
        justify-content: center;
    }

    .contactDiv {
        height: auto;
    }

    .contactDetailsDiv {
        margin-bottom: 50px;
    }

    .userMessage {
        text-align: center;
    }

    .userDetails {
        display: block;
        height: auto;
    }

    .userDetails input {
        width: 100%;
        margin-top: 10px;
    }

    .contactDetails {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 350px) {
    .tickertFetchedImageFromSrc {
        width: 100%;
    }

    .merchFetchedImageFromSrc {
        width: 100%;
    }

    .tourHeadingDiv strong {
        font-size: 25px;
    }
}